.preview {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  background: hsl(220, 13%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(220, 13%, 91%);
}

.preview.uploading {
  opacity: 0.7;
}

.preview.error {
  border-color: hsl(0, 65%, 51%);
  background: hsl(0, 65%, 97%);
}

.preview.success {
  border-color: hsl(142, 71%, 45%);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iconPlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPlaceholder svg {
  width: 32px;
  height: 32px;
  color: hsl(220, 9%, 60%);
}
